In [6]:
import json
import os
import numpy as np
import pandas as pd
import pathlib

import config

In [7]:
FILENAMES = config.FILENAMES
JSON_DIR_PATH = config.JSON_DIR_PATH
CATEGORY = 'attendances'

In [8]:
items = []
for filename in FILENAMES:
    file_path = pathlib.Path(JSON_DIR_PATH, filename).with_suffix('.json')
    with open(file_path, 'r') as json_file:
        dict_data = json.load(json_file)
    items.append(dict_data)

In [9]:
# THIS CELL IS FOR TEST. Test by a single item.
dataframes = []
item = items[0]

dates, keys, values = [], [], []
date = item['paid_date']
# dates.append(date)
for key, value in item[CATEGORY].items():
    dates.append(date)
    keys.append(key)
    values.append(value)
print('dates:', dates)
print('keys:', keys)
print('values:', values)
df = pd.DataFrame({'date': dates, 'type': keys, 'value': values})
dataframes.append(df)
pd.concat(dataframes)

dates: ['2018-08-24', '2018-08-24', '2018-08-24', '2018-08-24', '2018-08-24', '2018-08-24', '2018-08-24', '2018-08-24']
keys: ['所定勤務日数', '所定勤務時間数', '所定内勤務時間数', '時間外勤務時間数', '休日勤務時間数', '代休取得日数', '早退時間', '早退回数']
values: [21, 162.45, 152.48, 39.45, 7.45, 1, 2.12, 1]

         date      type   value
0  2018-08-24    所定勤務日数   21.00
1  2018-08-24   所定勤務時間数  162.45
2  2018-08-24  所定内勤務時間数  152.48
3  2018-08-24  時間外勤務時間数   39.45
4  2018-08-24   休日勤務時間数    7.45
5  2018-08-24    代休取得日数    1.00
6  2018-08-24      早退時間    2.12
7  2018-08-24      早退回数    1.00

## Lambda implementation starts here

In [10]:
dataframes = []
for item in items:
    dates, keys, values = [], [], []
    date = item['paid_date']
    # dates.append(date)
    for key, value in item[CATEGORY].items():
        dates.append(date)
        keys.append(key)
        values.append(value)
#     print('dates:', dates)
#     print('keys:', keys)
#     print('values:', values)
    df = pd.DataFrame({'date': dates, 'type': keys, 'value': values})
    dataframes.append(df)

df = pd.concat(dataframes)
df

         date      type   value
0  2018-08-24    所定勤務日数   21.00
1  2018-08-24   所定勤務時間数  162.45
2  2018-08-24  所定内勤務時間数  152.48
3  2018-08-24  時間外勤務時間数   39.45
4  2018-08-24   休日勤務時間数    7.45
5  2018-08-24    代休取得日数    1.00
6  2018-08-24      早退時間    2.12
7  2018-08-24      早退回数    1.00
0  2018-09-25    所定勤務日数   23.00
1  2018-09-25   所定勤務時間数  178.15
2  2018-09-25  所定内勤務時間数  160.45
3  2018-09-25  時間外勤務時間数   34.56
4  2018-09-25   休日勤務時間数    7.45
5  2018-09-25    代休取得日数    1.00
6  2018-09-25      早退時間    2.00
7  2018-09-25      早退回数    1.00
8  2018-09-25    年休取得日数    1.00
9  2018-09-25   深夜勤務時間数    0.30
0  2018-10-25    所定勤務日数   18.00
1  2018-10-25   所定勤務時間数  139.30
2  2018-10-25  所定内勤務時間数  138.00
3  2018-10-25  時間外勤務時間数   35.02
4  2018-10-25   休日勤務時間数    8.15
5  2018-10-25    代休取得日数    1.00
6  2018-10-25      早退時間    1.30
7  2018-10-25      早退回数    1.00
8  2018-10-25    年休取得日数    1.00
9  2018-10-25   深夜勤務時間数    0.30
0  2018-11-22    所定勤務日数   22.00
1  2018-11-22   所定勤務時間数  170.30
2  2018-11-22  所定内勤務時間数  162.45
3  2018-11-22  時間外勤務時間数   40.45
4  2018-11-22   休日勤務時間数    8.15
5  2018-11-22    代休取得日数    1.00
6  2018-11-22      早退時間    1.30
7  2018-11-22      早退回数    1.00
8  2018-11-22    年休取得日数    1.00
9  2018-11-22   深夜勤務時間数    0.30
0  2018-12-25    所定勤務日数   21.00
1  2018-12-25   所定勤務時間数  162.45
2  2018-12-25  所定内勤務時間数  162.45
3  2018-12-25  時間外勤務時間数   33.15
4  2018-12-25   休日勤務時間数    8.15
5  2018-12-25    代休取得日数    1.00
6  2018-12-25      早退時間    1.30
7  2018-12-25      早退回数    1.00
8  2018-12-25    年休取得日数    1.00
9  2018-12-25   深夜勤務時間数    1.05

In [11]:
table = pd.pivot_table(df, index='type', columns='date', values='value', fill_value=0)
table

date      2018-08-24  2018-09-25  2018-10-25  2018-11-22  2018-12-25
type
代休取得日数          1.00        1.00        1.00        1.00        1.00
休日勤務時間数         7.45        7.45        8.15        8.15        8.15
年休取得日数          0.00        1.00        1.00        1.00        1.00
所定内勤務時間数      152.48      160.45      138.00      162.45      162.45
所定勤務日数         21.00       23.00       18.00       22.00       21.00
所定勤務時間数       162.45      178.15      139.30      170.30      162.45
早退回数            1.00        1.00        1.00        1.00        1.00
早退時間            2.12        2.00        1.30        1.30        1.30
時間外勤務時間数       39.45       34.56       35.02       40.45       33.15
深夜勤務時間数         0.00        0.30        0.30        0.30        1.05

# Insert extracted data in json format

In [12]:
rows = {'rows': list(table.index)}
columns = {'columns': list(table.columns)}
print(rows, len(rows))
print(columns, len(columns))

{'rows': ['代休取得日数', '休日勤務時間数', '年休取得日数', '所定内勤務時間数', '所定勤務日数', '所定勤務時間数', '早退回数', '早退時間', '時間外勤務時間数', '深夜勤務時間数']} 1
{'columns': ['2018-08-24', '2018-09-25', '2018-10-25', '2018-11-22', '2018-12-25']} 1

In [13]:
v_array = table.values
v_array
# v_array = table.to_numpy()
values = {'values': v_array.tolist()}
values

{'values': [[1.0, 1.0, 1.0, 1.0, 1.0],
  [7.45, 7.45, 8.15, 8.15, 8.15],
  [0.0, 1.0, 1.0, 1.0, 1.0],
  [152.48, 160.45, 138.0, 162.45, 162.45],
  [21.0, 23.0, 18.0, 22.0, 21.0],
  [162.45, 178.15, 139.3, 170.3, 162.45],
  [1.0, 1.0, 1.0, 1.0, 1.0],
  [2.12, 2.0, 1.3, 1.3, 1.3],
  [39.45, 34.56, 35.02, 40.45, 33.15],
  [0.0, 0.3, 0.3, 0.3, 1.05]]}

In [14]:
res_dict = {CATEGORY: {}}
res_dict

{'attendances': {}}

In [10]:
 
res_dict

{'attendances': {'rows': ['2018-05-25',
   '2018-06-25',
   '2018-07-25',
   '2018-08-24',
   '2018-09-25',
   '2018-10-25',
   '2018-11-22',
   '2018-12-25',
   '2019-01-25',
   '2019-02-25',
   '2019-03-25',
   '2019-04-25',
   '2019-05-24',
   '2019-06-25',
   '2019-07-25',
   '2019-08-23',
   '2019-09-25',
   '2019-10-25',
   '2019-11-25',
   '2019-12-25',
   '2020-01-24',
   '2020-02-25'],
  'columns': ['代休取得日数',
   '休日勤務時間数',
   '年休取得日数',
   '所定内勤務時間数',
   '所定勤務日数',
   '所定勤務時間数',
   '早退回数',
   '早退時間',
   '時間外勤務時間数',
   '深夜勤務時間数'],
  'values': [[0.0, 0.0, 0.0, 155.0, 20.0, 155.0, 0.0, 0.0, 0.54, 0.0],
   [0.0, 0.0, 0.0, 155.0, 20.0, 155.0, 0.0, 0.0, 0.54, 0.0],
   [0.0, 8.0, 0.0, 162.45, 21.0, 162.45, 0.0, 0.0, 11.15, 0.0],
   [1.0, 7.45, 0.0, 152.48, 21.0, 162.45, 1.0, 2.12, 39.45, 0.0],
   [1.0, 7.45, 1.0, 160.45, 23.0, 178.15, 1.0, 2.0, 34.56, 0.3],
   [1.0, 8.15, 1.0, 138.0, 18.0, 139.3, 1.0, 1.3, 35.02, 0.3],
   [1.0, 8.15, 1.0, 162.45, 22.0, 170.3, 1.0, 1.3, 40.45, 0.3],
   [1.0, 8.15, 1.0, 162.45, 21.0, 162.45, 1.0, 1.3, 33.15, 1.05],
   [1.0, 8.15, 2.0, 131.45, 19.0, 147.15, 1.0, 1.3, 13.2, 0.15],
   [1.0, 8.15, 1.0, 139.3, 19.0, 147.15, 1.0, 1.3, 31.35, 1.45],
   [1.0, 8.15, 1.0, 147.15, 19.0, 147.15, 1.0, 1.3, 20.0, 1.45],
   [1.0, 8.15, 1.0, 155.0, 20.0, 155.0, 1.0, 1.3, 26.25, 1.45],
   [1.0, 8.15, 1.0, 155.0, 20.0, 155.0, 1.0, 1.3, 39.15, 1.4],
   [1.0, 8.15, 1.0, 147.15, 19.0, 147.15, 1.0, 1.3, 17.1, 1.25],
   [1.0, 1.3, 1.0, 155.0, 20.0, 155.0, 1.0, 1.3, 23.4, 8.0],
   [1.0, 1.3, 1.0, 170.3, 22.0, 170.3, 1.0, 1.3, 31.15, 1.35],
   [1.0, 1.3, 4.0, 131.45, 21.0, 162.45, 1.0, 1.3, 25.46, 1.35],
   [1.0, 1.3, 4.0, 147.15, 19.0, 147.15, 1.0, 1.3, 24.35, 0.35],
   [1.0, 1.3, 4.0, 162.45, 21.0, 162.45, 1.0, 1.3, 22.2, 0.35],
   [1.0, 1.3, 2.0, 139.3, 20.0, 155.0, 1.0, 1.3, 26.1, 2.0],
   [1.0, 1.3, 2.0, 155.0, 20.0, 155.0, 1.0, 1.3, 6.4, 2.0],
   [1.0, 1.3, 2.0, 147.15, 19.0, 147.15, 1.0, 1.3, 0.55, 2.0]]}}